/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***universal styling***/

* {
    box-sizing: border-box;
}

/***general styling***/
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
    font-size:16px;
}

a {
    text-decoration: none;
}

header {
    margin:2% 0;
}

/***nav bar styling***/

nav {
    display:flex;
    justify-content: space-between;
    color:black;
    width:800px;
    margin:0 auto;
    align-items:flex-end;
}

nav .links {
    width:85%;
    display:flex;
    justify-content: space-around;
}

nav a {
    color:black;
}

.container {
    width: 800px;
    margin: 0 auto;
}

/***top image styling***/

.jumboimg {
    padding:2% 0;    
    width:100%;
}

/***footer styling***/

footer {
    width: 100%;
    background: black;
    display:flex;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

footer div {
    width:40%;
}

/***home page styling***/

/*home - top section styling*/

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

/*home - box section styling */

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}


.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background:black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box.box1 {
    background-color: teal;
}

.middle-content .boxes .box.box2 { 
    background-color: gold;
}

.middle-content .boxes .box.box3 {
    background-color: cadetblue;
}

.middle-content .boxes .box.box4 {
    background-color: coral;
}

.middle-content .boxes .box.box5 {
    background-color: crimson;
}

.middle-content .boxes .box.box6 {
    background-color: forestgreen;
}

.middle-content .boxes .box.box7 {
    background-color: darkorchid;
}

.middle-content .boxes .box.box8 {
    background-color: hotpink;
}

.middle-content .boxes .box.box9 { 
    background-color: indigo;
}

.middle-content .boxes .box.box10 {
    background-color: dodgerblue;
}

/*home - bottom section styling*/

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

/***about page styling***/

/*about - about section styling*/

.about-page .about {
    padding:3% 2%;
    border-bottom:1px dashed black;
}

/* about - what we do section styling */

.about-page .whatwedo {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:2% 1%;
}

.about-page .aboutitems {
    width:45%;
    border-bottom: 1px dashed black;
    padding:2% 0;
    display:flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-right: 2%;
}

.about-page .aboutitems img {
    width:100%;
    padding-bottom: 3%;
}

.about-page .aboutitems p {
    font-size: 15px;
}
.about-page .aboutitems a {
    color:black;
    border-radius:10px;
    border:1px solid black;
    padding:3% 5%;
    margin-top:5%;
    font-size:14px;
}

/*about - work together section styling*/

.about-page .together {
    padding:3% 2%;
}
